.nav button {
  display: none;
}

.hero-content {
  background-color: #2F1D57;
  padding: 100px 0;
  background: #2F1D57;
    h1 {
        font-size: 70px;
        margin-bottom: 50px;
        font-weight: 300;
        
    }
}
.selling-points {
    padding: 100px 0;

    .point {
      @extend .col-md-4;
      h5 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        height: 85px;
      }

      p {
        font-size: 14px;


      }
    }
  }

.album-blank {
  background-image: url('/images/album-placeholders/album-blank.png');
  background-size: cover;
     img {
       position: relative;
      }
      h1 {
        position: absolute;
        top: 90px; 
        left: 10px; 
        width: 100%; 
      }

      h2 {
        position: absolute;
        top: 130px; 
        left: 10px; 
        width: 100%;
        color: #E52F69;
      }
}
