@media all and (max-width: 748px) {

nav {
    @extend .navbar-fixed-top;
}

.flipper {
  width: 400px;
  margin: 0 auto;
}
  .hero-content {
      h1, h3 {
        text-align: center;
      }
    }

  /* Landing Page and Global Styles */
  .player-header-nav.navbar {
    .navbar-nav {
      li {
        text-align: center;
      }
    }

  .selling-points {
      padding: 0;
      .point {
        padding: 3em 0.75em;
        h5 {
          height: 2.25em;
        }
        p {
          text-align: center;
          font-size: 1.25em;
        }
      }
    }
    .landing-album-list {
      /* Example class added to style the album covers for mobile */
      .album-cover {
        position: relative;
        left: calc(50% - 200px);
      }
    }
  }

  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px; /* Width of the album image. */
  }
}